/* reset */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0; }

/* variables */
/* imports */
/* header */
header {
  width: 100vw; }
  header nav {
    font-family: "Bebas Neue", cursive;
    font-size: 1.4em; }
    header nav a img:hover {
      transform: scale(1.03, 1.03);
      transition: 0.5s; }

.logo--size {
  height: 5vh; }

@media only screen and (min-width: 1200px) {
  .logo--size {
    height: 6vh; } }

/* index productos */
.card__productos--animaocion:hover {
  transform: scale(1.01, 1.01);
  transition: 0.5s; }

.card__productos--titulos {
  text-align: left;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700; }

.modal__productos--titulos {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400; }

.productos--background {
  background-color: #F5F4F4; }

.btn-productos {
  background-color: #877D78;
  color: white;
  font-family: "Lato", sans-serif; }

/*index*/
.index__title {
  text-align: center;
  letter-spacing: 5px; }

.index__img--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center; }

.index__accesodirecto--grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center; }

@media only screen and (min-width: 600px) {
  .index__accesodirecto--grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); } }

/* pagina error 404 */
.bg--error404 {
  background-image: url(../recursos/error404sm.gif);
  background-size: cover;
  height: 100vh; }

.heigth--100 {
  height: 100vh; }

.btn--position {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.footer--background {
  background-color: #EDF2DA; }

@media only screen and (min-width: 1200px) {
  .bg--error404 {
    background-image: url(../recursos/error404xl.gif);
    background-size: cover;
    height: 100vh; } }

/* contacto */
.contacto--background {
  background-color: #F5F4F4; }

.contacto__form--titulo {
  font-size: 1.8em;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
  color: #D9B5A0; }

/* nosotros */
.nosotros--grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center; }

.nosotros--article {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 1em;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px; }

@media only screen and (min-width: 700px) {
  .nosotros--grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .nosotros--article {
    font-size: 1.1em;
    line-height: 1.3em;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: left; } }

.nosotros--acordion {
  color: black;
  text-align: center; }

/* titulos */
h1, h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.7em; }

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.4em;
  text-transform: capitalize;
  text-align: left;
  font-weight: 600; }

/* decoracion de parrafos */
.decoration__p {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 1.2em;
  color: black;
  text-transform: capitalize; }

/* footer */
footer {
  background-color: #F0CAB4;
  height: 10vh; }
  footer section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer section img {
      height: 4vh;
      margin: 5px; }
      footer section img:hover {
        transform: scale(1.02, 1.02);
        transition: 0.5s; }
