/*index*/
.index__title{
	text-align: center;
	letter-spacing: 5px;
}
.index__img--grid{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);
	justify-items: center;
}

/* pagina error 404 */
.bg--error404{
	background-image: url(../recursos/error404sm.gif);
	background-size: cover;
	height: 100vh;
}
.heigth--100{
	height: 100vh;
}

.btn--position{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.footer--background{
	background-color: #EDF2DA;
}

@media only screen and (min-width: 1200px){
	.bg--error404{
		background-image: url(../recursos/error404xl.gif);
		background-size: cover;
		height: 100vh;
	}
}

/* contacto */
.contacto--background{
	background-color: #F5F4F4;
}

.contacto__form--titulo{
	font-size: 1.8em;
	text-align: center;
	letter-spacing: 5px;
	font-weight: 400;
	color: #D9B5A0;
}
/* titulos */
h1, h2,{
	font-family: $tipografiaTitulos;
	font-size: 1.7em;
}
h3{
	font-family: $tipografiaTitulos;
	font-size: 1.4em;
	text-transform: capitalize;
	text-align: left;
	font-weight: 600;
}

/* decoracion de parrafos */
.decoration__p{
	font-family: $tipografiaTitulos;
	font-weight: 400;
	font-size: 1.2em;
	color: black;
	text-transform: capitalize;
}


