/* header */
header{
	nav{
		font-family: $tipografiaTitulos;
		a{
			img{
				height: 6vh;
				&:hover{
					transform:scale(1.03,1.03);
					transition: 0.5s;
				}
			}
		}
	}
}
@media only screen and(min-width: 480px){
	
}

