/* header */
header{
	width: 100vw;
	nav{
		font-family: $tipografiaTitulos;
		a{
			img{
				height: 6vh;
				&:hover{
					transform:scale(1.03,1.03);
					transition: 0.5s;
				}
			}
		}
	}
}
@media only screen and(min-width: 450px){
	header{
		nav{
			a{
				img{
					height: 7vh;
				}
			}
		}
	}
}
@media only screen and(min-width: 600px){
	header{
		nav{
			a{
				img{
					height: 9vh;
				}
			}
		}
	}
}
@media only screen and(min-width: 1200px){
	header{
		nav{
			a{
				img{
					height: 10vh;
				}
			}
		}
	}
}
