/* header */
header{
	width: 100vw;
	nav{
		font-family: $tipografiaTitulos;
		font-size: 1.4em;
		a{
			img{
				&:hover{
					transform:scale(1.03,1.03);
					transition: 0.5s;
				}
			}
		}
	}
}

.logo--size{
	height: 5vh;
}

@media only screen and(min-width: 1200px){
	.logo--size{
		height: 6vh;
	}
}

