/* index productos */
main{
	section{
			a{
				text-decoration: none;
				color: black;
				text-transform: none;
			}
	}
} 
.main__productos--height{
	height: auto;
}

@media only screen and(min-width: 1000px){
	.main__productos--height{
		height: 76vh;
	}
}

.card__productos--animaocion:hover{
	transform: scale(1.01,1.01);
	transition: 0.5s;
}