/* reset */
*{
	margin: 0;
	padding: 0;
	
}
/* variables */
$colorFooter:#F0CAB4;
$tipografiaTitulos:'Bebas Neue', cursive;
$tipografiaCuerpo: 'Open Sans', sans-serif;
$tipografiaProductos: 'Lato', sans-serif;

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import "_header";
@import "_products";
@import "_content";
@import "_footer";

