/* reset */
*{
	margin: 0;
	padding: 0;

}
/* variables */
$colorFooter:#FFA07A;
$tipografiaTitulos:'Spectral', serif;
$tipografiaCuerpo: 'Karla', sans-serif;

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;0,700;1,300&family=Spectral:ital,wght@0,200;0,400;0,500;0,700;1,400&display=swap');
@import "_header";
@import "_products";
@import "_content";
@import "_footer";

